html {
  background-color: cyan;
}

* {
    box-sizing: border-box;
    font-family: arial,sans-serif;
}



div.header{
  text-align: center;
}

div.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
div.center div{
  display: inline-block;
  text-align: center;
}
div.center div p{
  font-size : 24pt;
}




p{
  font-size: 16pt;
}

img{
  width: auto;
  height: 340px;
  padding-left: 60px;
  transition: 0.5s ;
  padding-bottom: 0.5em;
}
img:hover{
  transform: scale(0.9);
}
img:active{
  transform: scale(0.7);
}
