html {
  background-color: cyan;
}

* {
    box-sizing: border-box;
    font-family: arial,sans-serif;
}



div.header{
  text-align: center;
}

div.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
div.center div{
  display: inline-block;
  text-align: center;
}
div.center div p{
  font-size : 24pt;
}


div.Information{
  text-align: center;
  position: fixed;
  bottom: 15%;
  width: 100%;
  left: 0;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
}
footer ul.inline{
  list-style-type: none;
  padding: 0;
}
footer ul.inline li{
  padding: 0px 12px;
  text-align: center;
  display: inline;
}

p{
  font-size: 16pt;
}

input{
  width: auto;
  min-height: 100px;
  height: 340px;
  padding-left: 60px;
  transition: 0.5s ;
  padding-bottom: 0.5em;
}
input:hover{
  transform: scale(0.9);
}
input:active{
  transform: scale(0.8);
}
input:focus{
  outline : none;
}
