html {
  background-color: cyan;
}

* {
    box-sizing: border-box;
}

div.main{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

img{
  display: inline-block;
  width: auto;
  height: 400px;
  padding: 60px;
  transition: 0.5s ;
}
img:hover{
  transform: scale(0.8);
}
img:active{
  transform: scale(0.7);
}
